#banner 
    .banner_content 
        %h1 Keep 
        %p Your life's work. Organized, always.
        %button= link_to 'Enter', new_user_registration_path
#callouts 
    .callout_inner 
        .wrapper 
            .callout 
                %h2 Organize 
                %p Create an 8-app portfolio that includes Instagram, Tumblr, ESPN/Hacker News, Evernote (Document Storage), TaskRabbit/CraigsList, iMDB, Todolist, Project Manager, and other apps.
#bottom_cta 
    .wrapper 
        %h2 Go Ahead! 
        %br
        %button= link_to "Join Now", new_user_registration_path
